[Unit]
Description=Ecommerce Django Web Service
After=network.target

[Service]
User=jenkins
Group=jenkins
WorkingDirectory=/var/lib/jenkins/workspace/project_Ecommerce
Environment="PATH=/var/lib/jenkins/workspace/venv/bin"
ExecStart=/var/lib/jenkins/workspace/venv/bin/python3 /var/lib/jenkins/workspace/project_Ecommerce/core/manage.py runserver 0.0.0.0:8011
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

